
@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jbm/JetBrainsMono-Light.woff2') format('woff2'),
    url("fonts/jbm/JetBrainsMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jbm/JetBrainsMono-Regular.woff2') format('woff2'),
    url("fonts/jbm/JetBrainsMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jbm/JetBrainsMono-Medium.woff2') format('woff2'),
    url("fonts/jbm/JetBrainsMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jbm/JetBrainsMono-SemiBold.woff2') format('woff2'),
    url("fonts/jbm/JetBrainsMono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jbm/JetBrainsMono-Bold.woff2') format('woff2'),
    url("fonts/jbm/JetBrainsMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
